@import "tailwindcss/base";
@import "_fonts.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "_livebook.css";

@layer base {

  html,
  body,
  [data-phx-main] {
    @apply h-full;
  }

  body>[data-phx-main]>footer {
    @apply sticky top-[100dvh];
  }
}

