# Phoenix 应用配置
PHX_HOST=mithenji.me
SECRET_KEY_BASE=GSUcvQkyLqly0aNxpfpAwEdbNOVFcpL2wZjX4i6WT7jS0GM6IjKb+ZBY70L0v8h/

# 数据库配置（如果使用）
# DATABASE_URL=ecto://USER:PASS@HOST/DATABASE

# 应用端口（默认 4000）
# PORT=4000

# 其他配置
# APPSIGNAL_PUSH_API_KEY=your_appsignal_key
